#set( $layout ="main.vm" )

<div class="media-body" style="display: block;">
    <pre>
		美食---中餐---川菜
		美食---中餐---湘菜
		美食---中餐---湖北菜
		美食---中餐---台湾菜
		美食---中餐---新疆菜
		美食---中餐---江浙菜
		美食---中餐---云南菜
		美食---中餐---贵州菜
		美食---中餐---西北菜
		美食---中餐---东北菜
		美食---中餐---香锅/烤鱼
		美食---中餐---海鲜
		美食---中餐---其它地方菜
		美食---中餐---粤菜
		美食---中餐---海南菜
		美食---中餐---鲁菜
		美食---中餐---徽菜
		美食---中餐---晋菜
		美食---中餐---豫菜
		美食---中餐---闽菜
		美食---中餐---上海本帮菜
		美食---中餐---淮扬菜
		美食---火锅---麻辣烫/串串香
		美食---火锅---川味/重庆火锅
		美食---火锅---云南火锅
		美食---火锅---老北京涮羊肉
		美食---火锅---港式火锅
		美食---火锅---鱼火锅
		美食---火锅---羊蝎子
		美食---火锅---炭火锅
		美食---火锅---韩式火锅
		美食---火锅---豆捞
		美食---火锅---其它火锅
		美食---烧烤---中式烧烤
		美食---烧烤---拉美烧烤
		美食---烧烤---日式烧烤
		美食---烧烤---铁板烧
		美食---烧烤---韩式烧烤
		美食---烧烤---其它烧烤
		美食---其他美食---自助餐
		美食---其他美食---创意菜
		美食---其他美食---西餐
		美食---其他美食---日韩料理
		美食---其他美食---东南亚菜
		美食---其他美食---素食
		美食---其他美食---其他餐饮美食
		美食---其他美食---清真菜
		美食---其他美食---茶餐厅
		美食---其他美食---土菜/农家菜
		美食---其他美食---采摘/农家乐
		美食---汤/粥/煲/砂锅/炖菜---粥
		美食---汤/粥/煲/砂锅/炖菜---汤
		美食---汤/粥/煲/砂锅/炖菜---砂锅/煲类/炖菜
		美食---汤/粥/煲/砂锅/炖菜---其它
		美食---快餐---西式快餐
		美食---快餐---中式快餐
		美食---快餐---其它快餐
		美食---休闲食品---零食
		美食---休闲食品---生鲜水果
		美食---休闲食品---其它休闲食品
		美食---休闲食品---美食特产
		美食---小吃---熟食
		美食---小吃---面点
		美食---小吃---米粉/米线
		美食---小吃---其它小吃
		美食---休闲茶饮---咖啡
		美食---休闲茶饮---奶茶
		美食---休闲茶饮---冰激凌
		美食---休闲茶饮---饮品/甜点
		美食---休闲茶饮---咖啡厅
		美食---休闲茶饮---酒吧
		美食---烘焙糕点---蛋糕
		美食---烘焙糕点---面包
		美食---烘焙糕点---其它烘焙糕点
		超市便利店---超市
		超市便利店---个人护理
		超市便利店---便利店
		超市便利店---烟酒杂货
		K歌---KTV---量贩式KTV
		K歌---KTV---会所型KTV
		K歌---录音棚
		休闲娱乐---棋牌休闲
		休闲娱乐---中医养生
		休闲娱乐---足疗按摩
		休闲娱乐---洗浴/桑拿会所
		休闲娱乐---网吧网咖
		休闲娱乐---游乐游艺
		休闲娱乐---图书馆
		休闲娱乐---密室
		休闲娱乐---桌面游戏
		休闲娱乐---真人CS
		美发/美容/美甲---美甲/手护
		美发/美容/美甲---SPA/美容/美体
		美发/美容/美甲---美容美发
		美发/美容/美甲---美容美甲
		美发/美容/美甲---美发美甲
		美发/美容/美甲---美发
		美发/美容/美甲---彩妆造型
		美发/美容/美甲---美睫
		美发/美容/美甲---产后塑形
		运动健身---篮球场
		运动健身---卡丁赛车
		运动健身---舞蹈
		运动健身---网球场
		运动健身---乒乓球馆
		运动健身---游泳馆
		运动健身---羽毛球馆
		运动健身---桌球馆
		运动健身---瑜伽
		运动健身---足球场
		运动健身---武术场馆
		运动健身---溜冰场
		运动健身---保龄球馆
		运动健身---壁球场
		运动健身---排球场
		运动健身---高尔夫球场
		运动健身---体育场馆
		运动健身---健身中心
		宠物---宠物店
		宠物---宠物医院
		结婚---婚庆公司
		结婚---婚礼策划
		结婚---婚纱/礼服
		结婚---司仪主持
		结婚---婚车租赁
		摄影---婚纱摄影---旅拍/本地婚纱照
		摄影---婚纱摄影---本地婚纱摄影
		摄影---儿童摄影
		摄影---孕妇摄影
		摄影---艺术写真
		摄影---跟拍
		摄影---证件照
		摄影---商业摄影
		亲子---亲子游乐
		亲子---亲子游泳
		亲子---科普场馆
		亲子---亲子DIY
		亲子---早教中心
		亲子---幼儿外语
		亲子---幼儿才艺
		亲子---亲子服务
		洗衣---洗衣家纺
		洗衣---鞋帽清洗
		洗衣---奢侈品养护
		洗衣---自助洗衣
		书店---书店
		购物---本地购物
		购物---烟酒（只开酒）
		购物---当地特色/保健品
		购物---服装饰品---男性服装
		购物---服装饰品---女性成衣
		购物---服装饰品---内衣
		购物---服装饰品---家居服
		购物---服装饰品---皮草皮具
		购物---服装饰品---高档时装正装定制
		购物---服装饰品---裁缝
		购物---化妆品
		购物---茶叶
		购物---珠宝饰品---珠宝
		购物---珠宝饰品---金银
		购物---珠宝饰品---钟表店
		购物---珠宝饰品---剃须刀
		购物---珠宝饰品---瑞士军刀
		购物---珠宝饰品---烟酒具
		购物---珠宝饰品---配饰商店
		购物---珠宝饰品---假发
		购物---珠宝饰品---饰物
		购物---鞋包---鞋类
		购物---鞋包---行李箱包
		购物---亲子购物
		购物---婚礼小商品
		购物---运动户外用品
		购物---办公用品---打字/打印/扫描
		购物---办公用品---文具
		购物---文化艺术店---乐器
		购物---文化艺术店---二手商品店
		购物---文化艺术店---文物古董
		购物---文化艺术店---古玩复制品
		购物---文化艺术店---礼品
		购物---文化艺术店---卡片
		购物---文化艺术店---纪念品
		购物---文化艺术店---瓷器
		购物---文化艺术店---玻璃和水晶摆件
		购物---文化艺术店---工艺美术用品
		购物---文化艺术店---艺术品和画廊
		购物---文化艺术店---邮票/纪念币
		购物---文化艺术店---宗教物品
		购物---品牌折扣店
		购物---数码产品---手机
		购物---数码产品---通讯设备
		购物---数码产品---数码产品及配件
		购物---数码产品---专业摄影器材
		购物---数码产品---计算机/服务器
		购物---家用电器
		购物---家居家纺---草坪和花园用品
		购物---家居家纺---地毯窗帘等家纺
		购物---家居家纺---帷幕
		购物---家居家纺---室内装潢壁炉
		购物---家居家纺---屏风
		购物---家居家纺---家庭装饰
		购物---家居家纺---花木栽种用品
		购物---建材---油漆
		购物---建材---清漆用品
		购物---建材---大型建材卖场卖场
		购物---建材---木材与建材商店
		购物---建材---玻璃
		购物---建材---墙纸
		购物---特色集市
		购物---眼镜店
		购物---菜市场
		购物---成人用品
		购物---报刊/音像/书籍---音像制品租售
		购物---报刊/音像/书籍---音像制品/书籍
		购物---报刊/音像/书籍---书籍
		购物---报刊/音像/书籍---报纸杂志
		购物---烟花爆竹
		购物---国外代购及免税店
		爱车---洗车
		爱车---4S店/汽车销售---汽车销售
		爱车---4S店/汽车销售---二手车销售
		爱车---配件/车饰
		爱车---汽车保险
		爱车---维修保养---拖车
		爱车---维修保养---维修
		爱车---维修保养---保养
		爱车---汽车美容
		爱车---汽车租赁
		爱车---停车场
		爱车---加油站
		教育培训---职业技术培训
		教育培训---外语
		教育培训---音乐
		教育培训---升学辅导
		教育培训---体育
		教育培训---美术
		教育培训---留学
		教育培训---驾校
		教育培训---兴趣生活
		教育培训---教育院校---中小学校
		教育培训---教育院校---大学与学院
		教育培训---教育院校---成人教育/函授
		教育培训---教育院校---商业/文秘学校
		教育培训---教育院校---儿童保育/学前
		医疗健康---医院---社区医院
		医疗健康---医院---正骨医生
		医疗健康---医院---按摩医生
		医疗健康---医院---眼科医疗服务
		医疗健康---医院---手足病医疗服务
		医疗健康---医院---护理/照料服务
		医疗健康---医院---公立医院
		医疗健康---中医
		医疗健康---齿科
		医疗健康---药店
		医疗健康---急救服务
		医疗健康---整形
		医疗健康---妇幼医院
		医疗健康---体检中心
		航旅---酒店式公寓
		航旅---度假村---度假别墅服务
		航旅---度假村---运动和娱乐露营
		航旅---度假村---活动房车和野营
		航旅---航空票务---航空公司
		航旅---航空票务---机票平台
		航旅---航空票务---航空系统商
		航旅---货运代理/报关行
		航旅---铁路客运
		航旅---公共交通
		航旅---出租车服务
		航旅---长途公路客运
		航旅---游轮/巡游航线
		航旅---出租船只
		航旅---船舶/海运服务
		航旅---路桥通行费
		专业销售/批发---汽车/运输工具---机动车/配件批发
		专业销售/批发---汽车/运输工具---活动房车销售商
		专业销售/批发---汽车/运输工具---汽车轮胎经销
		专业销售/批发---汽车/运输工具---汽车零配件
		专业销售/批发---汽车/运输工具---船舶及配件
		专业销售/批发---汽车/运输工具---拖车篷车娱乐用车
		专业销售/批发---汽车/运输工具---轨道交通设备器材
		专业销售/批发---汽车/运输工具---飞机/配件
		专业销售/批发---汽车/运输工具---运输搬运设备
		专业销售/批发---汽车/运输工具---起重装卸设备
		专业销售/批发---汽车/运输工具---摩托车及配件
		专业销售/批发---汽车/运输工具---电动车及配件
		专业销售/批发---汽车/运输工具---露营及旅行汽车
		专业销售/批发---汽车/运输工具---雪车
		专业销售/批发---办公用品批发---商务家具批发
		专业销售/批发---办公用品批发---办公器材批发
		专业销售/批发---办公用品批发---办公用品文具批发
		专业销售/批发---工业产品批发零售---金属产品/服务
		专业销售/批发---工业产品批发零售---电气产品/设备
		专业销售/批发---工业产品批发零售---五金器材/用品
		专业销售/批发---工业产品批发零售---管道/供暖设备
		专业销售/批发---工业产品批发零售---工业设备/制成品
		专业销售/批发---工业产品批发零售---工业耐用品
		专业销售/批发---工业产品批发零售---化工产品
		专业销售/批发---工业产品批发零售---石油/石油产品
		专业销售/批发---药品医疗批发---医疗器械
		专业销售/批发---药品医疗批发---药品批发商
		专业销售/批发---药品医疗批发---康复/身体辅助品
		政府/社会组织---政府服务---法庭费用
		政府/社会组织---政府服务---行政费用和罚款
		政府/社会组织---政府服务---保释金
		政府/社会组织---政府服务---税务/海关
		政府/社会组织---政府服务---社会保障服务
		政府/社会组织---政府服务---使领馆
		政府/社会组织---政府服务---国家邮政
		政府/社会组织---政府服务---政府采购
		政府/社会组织---政府服务---政府贷款
		政府/社会组织---社会组织---慈善/社会公益
		政府/社会组织---社会组织---行业协会/社团
		政府/社会组织---社会组织---宗教组织
		政府/社会组织---社会组织---汽车协会
		电影---电影院
		电影---私人影院
	</pre>
</div>